.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  color: white;
}

a {
  color: white;
}

input {
  width: 50px;
}


.menu {
  min-height: 2vh;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu li {
  margin-right: 5rem;
}

.collection {
  /*background-color: white;*/
  /*color: black;*/
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  /*border-style: solid;*/
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.doc {
  background-color: #ffffff;
  color: #330033;
  border-style: solid;
  border-color: #61dafb;
  margin-bottom: 50px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  flex-direction: row;
  /*text-align: center;*/
}


.doc > * {
  margin: 5px 10px;
  padding: 10px;
}

.login {
  background-color: #ffffff;
  color: #330033;
  border-style: solid;
  border-color: #61dafb;
  margin-bottom: 50px;
  margin-left: 20px;
  /*padding-top: 10px;*/
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  flex-direction: row;
  text-align: center;
}

.login > * {
  margin: 5px 10px;
  padding: 10px;
}

.loginHeader {
  margin-bottom: 15px;
}

.hardwareSet {
  display: inline-flex;
  justify-content: space-around;
  gap: 15px;

}

.spacearound {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footer {
  margin-top: 100px;
}
